repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort (python)

-   repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        language_version: python3

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        exclude: "\\.(json)$"
        args:
          - --ignore-words-list=vas

-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright --venv-path .
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ['pyright@1.1.260']
    -   id: build
        name: build js bundle
        entry: bin/build_js_bundle.py --force
        files: html_renderer/.*
        language: node
        pass_filenames: false

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.37.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
        stages: [manual]
        exclude: ^pyinstrument/vendor/

exclude: ^pyinstrument/renderers/html_resources/app.js$|^pyinstrument/vendor
