-e .
pytest
flaky
trio
click
django  # used by middleware
sphinx==4.2.0
myst-parser==0.15.1
furo==2021.6.18b36
sphinxcontrib-programoutput==0.17
pytest-asyncio==0.12.0  # pinned to an older version due to an incompatibility with flaky
greenlet>=1.1.3
nox
typing_extensions
https://github.com/nyurik/py-ascii-graph/archive/refs/heads/fix-python310.zip # used by a metric
ipython
numpy # used by an example
pre-commit # used to run pre-commit hooks
sphinx-autobuild==2021.3.14
