/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 80px;
}

.doc-contents td p {
    margin-bottom: 1em !important;
}

.md-typeset table:not([class]) {
    font-size: .7rem;
}
.md-typeset table:not([class]) tr:hover {
    background-color: inherit;
    box-shadow: inherit;
}
.md-grid {
    max-width: 70rem;
}
